.loading-model {
  position: fix;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.loading-icon {
  background: url(../../img/Loading.svg) no-repeat;
  width: 50px;
  height: 50px;
  background-size: cover;
  top: 50%;
  left: calc(50% + 89px);
  position: absolute;
}
.empty-icon {
  background: url(/img/Empty-data.76e50bd8.svg) no-repeat;
  width: 132px;
  height: 74px;
  background-size: cover;
  top: 40%;
  left: calc(50% + 89px);
  position: absolute;
}
.empty-text {
  position: absolute;
  top: 50%;
  left: calc(50% + 102px);
  font-weight: 500;
}
