input[type="checkbox"] {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  appearance: none;
  -webkit-appearance: none;
  background: white;
  outline: none;
  border: 1px solid #afafaf;
  border-radius: 2px;
  transition: 0.5s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
input:checked[type="checkbox"] {
  border: 1px solid #2ca01c;
  transform: rotate(90deg);
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: url(../../img/Sprites.svg);
  background-position: -1224px -360px;
  display: none;
}

input:checked[type="checkbox"]::before {
  display: block;
  transform: rotate(-90deg);
}
input[type="text"]::placeholder {
  color: #babec5;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0 !important;
  margin: auto;
}
input[type="text"] {
  font-family: NotoSans-Italic;
  font-size: 12px;
  color: #8d9096;
  border: 1px solid #babec5;
}
input:hover {
  border: 1px solid #8d9096;
}
input:focus {
  border: 1px solid #2ca01c;
}
input:focus-visible {
  outline: none;
}
input:focus {
  border: 1px solid #2ca01c;
}
select:focus {
  border: 1px solid #2ca01c;
}
input[type="radio"] {
  width: 18px;
  height: 18px;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 50%;
  background: white;
  border: 1px solid #afafaf;
  display: flex;
  align-items: center;
  justify-content: center;
}
input:checked[type="radio"] {
  border: 1px solid #2ca01c;
}
input[type="radio"]::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #2ca01c;
  display: none;
}
input:checked[type="radio"]::before {
  display: block;
}
