.detail {
  z-index: 999;
}
.dialog-model {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.4;
  z-index: 20;
}
.detail-dialog-content {
  position: fixed;
  /* border-radius: 5px; */
  min-width: 900px;
  max-width: 900px;
  /* width: 900px; */
  background-color: #fff;
  left: calc(50% - 440px);
  bottom: calc(50% - 300px);
  z-index: 10;
  /* position: relative; */
  transition: all 0.2s;
  z-index: 200;
}
.detail-dialog-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 5px 5px;
  position: relative;
}
.detail-header-title {
  width: 100%;
  padding: 20px 32px 20px 32px;
  padding-right: 12px;
  position: relative;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
.wrap-header-title {
  display: flex;
}
.header-title-text {
  font-size: 24px;
  color: #111;
  font-weight: 700;
}
.header-title-customer {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  justify-content: flex-start;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.customer-checkbox {
  position: absolute;
  width: 10%;
  height: 100%;
  z-index: 200;
  cursor: pointer;
  z-index: 10;
}
.customer-content {
  white-space: nowrap;
  padding-left: 10px;
  font-size: 13px;
}
.detail-header-close {
  display: flex;
  padding: 12px;
}
.detail-icon-help {
  background-position: -89px -144px !important;
}
.detail-icon-close {
  background-position: -144px -144px !important;
}
.detail-dialog-main {
  transition: all 0.23s ease 0.1s;
  flex-direction: column;
  display: flex;
  overflow: auto;
  overflow-y: visible;
  padding: 0 32px 20px 32px;
}
.layer-detail-inf {
  padding-bottom: 12px;
}
.detail-inf-title {
  padding-bottom: 12px;
  display: flex !important;
}
.input-title {
  font-size: 12px;
  font-weight: 700;
  padding-bottom: 4px;
  margin-right: 4px;
  white-space: nowrap;
}
.input-title-require {
  color: red;
}
.detail-inf-label {
  position: relative;
  width: 100%;
  padding-bottom: 12px;
}

.detail-inf-input {
  font-size: 13px;
  height: 32px;
  color: inherit;
  position: relative;
  padding: 6px 10px;
  border-radius: 2px;
  border: 1px solid #babec5;
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
}
.w-25 {
  width: 25%;
}
.dflex {
  display: flex !important;
}
.divide-footer {
  width: 100%;
  border-top: 1px solid #e0e0e0;
  margin: 32px 0 20px 0;
  position: relative;
}
.btn-footer {
  display: flex;
  justify-content: space-between;
}

.btn-detail {
  height: 36px;
  padding: 8px 20px;
  border: 1px solid #8d9096 !important;
  color: #111;
  background-color: transparent;
  border-radius: 3px;
  transition: all 0.2s ease;
  border: 0;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  background: transparent;
  overflow: visible;
  font-weight: 700;
  font-size: 13px;
}
.btn-detail:hover{
  background-color: #d2d3d6;
}
.btn-detail-yes {
  margin-left: 12px;
  color: #fff;
  background-color: #2ca01c;
}
.btn-detail-yes:hover{
  background-color: #35bf22!important;
  color: #fff;
}
.lable-input-radio {
  padding-left: 4px;
  margin: auto 0;
}
.pnumber {
  padding-right: 6px;
  width: 25% !important;
}
.dialog-hide {
  display: none;
}
.options {
  justify-content: space-around;
  padding-right: 83px;
}
.margin0 {
  margin: auto 0;
}
.error {
  border: 1px solid red !important;
}
.warning-text {
  position: absolute;
  display: none;
  top: 5%;
  left: 80%;
  transform: translate(-50% -50%);
  font-size: 10px;
  z-index: 20;
  width: fit-content;
  height: 16px;
  text-align: center;
  background: rgb(49, 49, 49);
  padding: 0 5px;
  border: 1px solid #111;
  color: #fff;
}
.error:hover + .warning-text {
  display: block;
}
.checkboxGender {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #afafaf;
  background: #fff;
  z-index: 1;
  justify-content: center;
  display: block;
}
.w-100 {
  width: 100% !important;
}
